@font-face {
  font-family: 'Freedom';
  src:  url('/assets/fonts/freedom/FREEDOM.otf') format('opentype'),
    url('/assets/fonts/freedom/FREEDOM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quango';
  src:  url('/assets/fonts/quango/Quango.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* CSS file placeholder. */
* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  min-width: 340px;
  height: 100%;
  min-height: 280px;
  overflow: hidden;
  background-color: #F2EFE8;
  font-family: "Helvetica Neue",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
  user-select: none;
  cursor: default;
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 75%;
}

.wrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  /* height: calc(100% - 50px); */
  height: 100%;
  text-align: center;
  padding: 10px;
}

.backgroundImage {
  /* position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; */
  background-position-x: center;
  background-position-y: center;
}

details {
  position: absolute;
  background-color: transparent;
  /* color: #003f72; */
  color: white;
  padding: 5px;
  border-radius: 0.4rem;
  width: 20px;
  top: 10px;
  left: 10px;
}

details[open] {
  margin-right: 10px;
  width: auto;
  color: white;
  background-color: #003f72;
  border: 1px solid #999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 1px 1px #b6b6b6;
}

details summary {
  list-style-type: none;
}

details summary::-webkit-details-marker {
  display:none;
}

html.no-details details > summary,
summary {
  outline: none;
  font-size: larger;
  font-weight: 900 !important;
  text-align: left;
}

html.no-details details > summary:before {
  content: "\e94c" !important;
  display: inline-block;
}

html.no-details details[open] > summary:before {
  content: "\e94c" !important;
  display: block;
}

.settingsForm hr {
  border-style: solid;
  border-width: 1px 0 0 0;
}

.settingsForm {
  background-color: #003f72;
  width: auto;
  height: auto;
  margin: auto;
  margin-bottom: 5px;
}

.settingsForm table {
  width: auto;
  height: auto;
  margin: auto;
}

.settingsForm table caption {
  padding-top: 5px;
}

.settingsForm table th {
  text-align: left;
}

.settingsForm table td {
  text-align: left;
}

.settingsForm table td input[type="datetime-local"],
.settingsForm table td input[type="text"] {
  min-width: 250px;
  height: 22px;
  background-color: #002d51;
  border: 0;
  border-radius: .4em;
  color: #fff;
  padding-left: 1em;
  margin: 0;
}

.settingsForm table td input[type="date"] {
}
.settingsForm table td input[type="time"] {
}
.settingsForm table td input[type="text"] {
}
.settingsForm table td button,
.settingsForm table td input[type="submit"],
.settingsForm table td input[type="reset"],
.settingsForm table td input[type="button"] {
  min-width: 125px;
  display: inline-block;
}

/* extras  */
.okBtn:before {
  content: "✔";
}

.resetBtn:before {
  content: "⮿";
}

.hourglass:before {
  content: "⏲";
}
.hourglass-on:before {
  content: "⏲";
}

.title {
  font-size: 1.5rem;
  color: white;
  text-shadow: 0px 0px 4px #555555;
}

.title::before {
  font-size: 50%;
}

.title span {
  font-family: Freedom;
}

.tile {
  display: inline-block;
  width: 100px;
  min-width: 100px;
  max-width: 100%;
  height: auto;
  margin: 4px;
  border: 1px solid #999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px 5px 5px 5px;
  background-color: #fff;
  box-shadow: 0px 0px 1px 2px #b6b6b6;
}

.tile h1 {
  font-size: 2.3rem;
}

.infoBar {
  display: flex;
  justify-content: space-between;
}

.clock {
  line-height: 1;
  user-select: none;
  cursor: default;
}

.clock .time {
  font-size: 75px;
  font-weight: 200;
  color: #fff;
  display: inline-block;
}

.clock .timePeriod {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  /* margin-top: 6px; */
  vertical-align: top;
  vertical-align: top;
  line-height: 40px;
}

.infoBar .copyrightNotice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 1.3;
  user-select: none;
  cursor: default;
}

.infoBar .copyrightNotice div,
.infoBar .copyrightNotice .photoCredits {
  text-align: left;
}

.infoBar .copyrightNotice .photoCredits,
.infoBar .copyrightNotice .photoCredits .photoBy,
.infoBar .copyrightNotice .photoCredits .photoOwner {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.infoBar .copyrightNotice .photoCredits .photoOwner {
  text-decoration: underline;
}

.infoBar .copyrightNotice .photoName {
  color: rgba(255,255,255,0.5);
  font-size: 23px;
}

.countDownUntil,
.countDownEventDisplay,
.countDownDateTimeDisplay {
  display: block;
  font-size: 1rem;
  font-family: Quango;  
}

.countDownUntil {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: grey 1px 0px 5px;
  font-size: 1.2rem;
}

.countDownEventDisplay {
  color: white;
  text-shadow: grey 1px 0px 5px;
  font-size: 2rem;
}

.countDownDateTimeDisplay {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: grey 1px 0px 5px;
  font-size: 0.9rem;  
}

.footer {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: auto; 
  /* width: 100%; */
  /* background-color: #003f72; */
  color: #b2cfe4;
  font-size: 10px;
  /* padding: 10px; */
  box-sizing: border-box;
}

.footer span {
  display: inline-block;
  padding: 3px 6px;
}

.copyright {
  font-size: 8px;
  float: right;
}

.popup-webview {
  width: 100%;
  height: 100vh;
}
