/* CSS3Widgets */
.widget {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 12px;
}

/* ToggleSwitch */
.switch {
	width: auto;
	height: auto;

	position: relative;
  display: inline-block;
	height: 22px;
	margin: 4px 0;
}

.switch:after {
	/* display: inline-block; */
	content: attr(data-label);
	position: relative;
	/*text-indent: 4em;*/
	/* margin: 0.2em 0; */
	margin-left: 4em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
	vertical-align: super;
}

input.switch-checkbox[type=checkbox] {
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="checkbox"]:focus {
	outline: none;
}

input.switch-checkbox:empty
{
	height: 20px;
	position: relative;
	/* text-indent: 4em; */
	/* margin: 3px 0; */
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch-checkbox:empty:before, 
input.switch-checkbox:empty:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 3.6em;
	/* background-color: #c33; */
	background-color: #ccc;
	border-radius: 20px;
	 /* border-radius: 0.3em;  */
	/* box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3); */
	-webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch-checkbox:empty:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 50%;
	/* border-radius: 0.15em;  */
	/* box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2); */
}

input.switch-checkbox:checked:before
{
	/* background-color: #393; */
	background-color: #2196f3;
}

input.switch-checkbox:checked:after
{
	margin-left: 2.1em;
}
/* End of ToggleSwitch */